/* --------
F O N T S
----------*/
@import url('fonts.css');
/* --------
R E S E T
----------*/
@import url('reset.css');
/* ------------------
V A R I A B L E S
--------------------*/
:root{
    --font-heading:'montserrat',sans-serif;
    --font-body:'lexend',sans-serif;
    --color1:#D9D9D9;
    --color2:black;
    --color3:#DEE2E6;
   }
   
/* ------------------
G E N E R A L
--------------------*/
body {
    background-color: var(--color1);
    color: var(--color3);
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
}

main {
    padding: 0;
}

header {
    background-color: #171D1D;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.4rem;
    height: 100px;
}

/* Estilos para menú hamburguesa */
.menu-toggle {
    display: none; /* Ocultar por defecto en pantallas grandes */
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--color3);
    margin: 5px 0;
    transition: transform 0.4s, opacity 0.4s;
}

/* Rotación de barras para abrir/cerrar menú */
.menu-open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Mostrar menú desplegable al hacer clic en el icono */
.menu-open nav {
    display: block;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 650px) {
    .menu-toggle {
        display: block; /* Mostrar hamburguesa en pantallas pequeñas */
    }

    header {
        justify-content: space-between;
        padding: 0.4rem;
    }

    nav {
        display: none; /* Ocultar menú principal en pantallas pequeñas */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #171D1D;
        z-index: 1;
        text-align: center;
        flex-direction: column;
    }
}

nav {
    display: flex;
    gap: 5rem;
}

a:is(:link, :visited) {
    background: transparent url();
    color: var(--color3);
    font-family: var(--font-heading);
    transition: transform 0.3s ease-in;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 70px;
}

a:is(:hover) {
    transform: scale(1.2);
}

div.owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    button {
        transition: all 0.2s ease-in;
        span {
            background-color: red;
            display: flex;
            height: 100px;
            width: 100px;
            text-indent: -9999px;
        }
    }
    button.owl-prev {
        &:hover {
            background: transparent !important;
            transform: translateX(-5px);
        }
        span {
            background: url(../img/Arrow\ 1\ -\ copia.png) no-repeat center;
        }
    }
    button.owl-next {
        background: transparent;
        &:hover {
            background: transparent !important;
            transform: translateX(5px);
        }
        span {
            background: url(../img/Arrow\ 1.png) no-repeat center;
        }
    }
}

/* Section: Slider */
section.slider1 {
    height: 500px;
    img {
        height: 700px;
        object-fit: cover;
        width: 100%;
    }
}

/* Sección: Caracteres */
section.caracteres {
    background-color: #d9d9d9;
    color: white;
    text-align: center;
    height: 850px;
    padding: 2rem 0;
    h2 {
        color: black;
        font-size: 40px;
        font-family: 'montserrat', sans-serif;
        text-align: left;
        margin-left: 4.5rem;
        padding-top: 12.5rem;
        padding-bottom: 2.5rem;
    }
    div.slider2 {
        margin: 2rem auto;
        width: 90%;
        article {
            height: 300px;
            figure {
                img {
                    height: 150px;
                    width: 100px;
                    object-fit: contain;
                    transform: scale(1.5);
                }
            }
            figcaption {
                font-family: 'lexend', sans-serif;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                height: 100px;
                position: relative;
            }
        }
    }
}

/* Sección: Innovación */
section.innovacion {
    background-color: #d9d9d9;
    color: white;
    text-align: center;
    height: 850px;
    padding: 2rem 0;
    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-heading);
        font-size: 40px;
        margin: 1rem 0;
        padding-top: 30px;
    }
    div.slider3 {
        margin: 4rem auto;
        width: 90%;
        article {
            display: flex;
            height: 300px;
            figure {
                width: 45%;
                img {
                    height: 200px;
                    object-fit: cover;
                }
                figcaption {
                    background-color: var(--color1);
                    color: var(--color3);
                    font-family: var(--font-heading);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    height: 100px;
                }
            }
        }
    }
}

/* Section: Artículos */
section.articulos {
    background-color: #d9d9d9;
    color: white;
    text-align: center;
    height: 740px;
    padding: 2rem 0;
}

section.articulos h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-body);
    font-size: 50px;
    text-align: center;
    margin: 3rem 0;
    padding-top: 2rem;
}

section.articulos .slider4 {
    display: flex;
    justify-content: center; 
    margin-top: 2rem; 
}

section.articulos .slider4 article {
    width: 80%; 
    margin: 0 1rem; 
}

section.articulos .slider4 article figure {
    text-align: center;
    margin-bottom: 1rem; 
}

section.articulos .slider4 article figure img {
    height: 120px; 
    width: 120px;
    object-fit: cover;
    border-radius: 0%; 
    margin-bottom: 10px; 
    margin-left: 30%;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in;
    &:hover {
        opacity: 1;
        transform: scale(1.09);
    }
}

section.articulos .slider4 article figcaption {
    background-color: #ffffff; 
    font-family: var(--font-heading);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 80px;
}

/* Estilo Botón */
section.articulos .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 60px;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    margin: 2rem auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Section: Footer */
section.footer {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 5rem;
    background-color: #A1A1A1;
    height: 200px;
    figure {
        display: flex;
        gap: 1.5rem;
        padding-bottom: 2rem;
        img {
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.4s ease-in;
            &:hover {
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }
    p {
        font-family: var(--font-body);
        padding-bottom: 1rem;
    }
}
